{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Records</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        * {
          box-sizing: border-box;
        }
        
        #myInput {
          background-image: url('{{ STATIC_PREFIX }}magnifying-glass.png');
          background-position: 7px 7px;
          background-repeat: no-repeat;
          width: 100%;
          font-size: 14px;
          padding: 8px 20px 8px 40px;
          border: 1px solid #ddd;
          margin-bottom: 12px;
        }
        
        #myTable {
          border-collapse: collapse;
          width: 100%;
          border: 1px solid #ddd;
          font-size: 15px;
        }
        
        #myTable th, #myTable td {
          text-align: left;
          padding: 12px;
        }
        
        #myTable tr {
          border-bottom: 1px solid #ddd;
        }
        
        #myTable tr.header, #myTable tr:hover {
          background-color: #f1f1f1;
        }
        </style>
</head>
<body>
     <!-- ------------------------Navbar----------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" style='font-size:24px;float:right;'>
                </li>
            </ul>
        </div>
    </nav>

     <!-- ------------------------Employee info----------------------------------------->
      
    <div class="card container mt-5" style="width:240px; height:600px; margin: 2%; float:left; box-shadow: 5px 10px 18px #888888;">
        <img class="card-img-top" src="{% static 'img_avatar.png' %}" alt="Card image" style="padding:10px 0px 0px 0px">
        <div class="card-body">
            <p><strong>Name:</strong> {{ employee.username }}</p>
            <p><strong>Designation:</strong> {{ employee.designation }}</p>
            <p><strong>Department:</strong> {{ employee.department }}</p>
            <p><strong>Email:</strong> {{ employee.email }}</p>
        </div>
    </div>

     <!-- ------------------------Grid ----------------------------------------->
    <div class="card container mt-5" style="width:76%; height:600px; margin: 0% 0% 0% 0%; box-shadow: 2px 7px 9px #888888; display: flex;">
        
        <div class="card-body">
            <button type="button" class="btn" data-toggle="modal" data-target="#addCommentModal" style="display:inline; float:right;">
                <span aria-hidden="true" class="fa fa-plus" style="font-size:35px; color:green;"><b></b></span>
            </button> 
            <h3 style="display:inline; float:left; table-layout: fixed;">Records</h3>
            <!--======================== search bar --------------------------------------->
            <input  class = 'fa fa-search' id='myInput' onkeyup='searchTable()' type='text' placeholder="Search here......" >
            <!-- <input id="entireSearch" type="text" placeholder="Search here"> -->
            <!-- ==---------------------table ------------------------------->
            <table  class="table sm-8 table-bordered table-hover" style="width:100%">
                <thead class="thead-light header">
                    <tr >
                        <th style="width:5%">Serial No.</th>
                        <th style="width:75%">Records</th>
                        <th style="width:20%">Actions</th>
                    </tr>
                </thead>
                <tbody id ='myTable'>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ comment.text |truncatewords:10 }}</td>
                            <td>
                                <button class="btn" onclick="showComment({{ comment.id }}, 'read')">
                                    <span class='fa fa-book' style='font-size:26px;color:blue'></span>
                                </button>
                                <button class="btn" onclick="showComment({{ comment.id }}, 'edit')">
                                    <span class='fa fa-edit' style='font-size:26px;color:green'></span>
                                </button>
                                <button class="btn" onclick="deleteComment({{ comment.id }})">
                                    <span class='fa fa-trash' style='font-size:26px;color:red'></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-5">
        {{ comment.empcode }}

        <!-- ------------------------Add Comment Modal ----------------------------------------->
        <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:4% 0% 0% 17%;">
            <div class="modal-dialog modal-lg" style="width:70%; height:500px; margin:2%;" role="document">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:40px;">&times;</span>
                </button>
                <div class="modal-content" style="padding:20px;">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <h5 class="modal-title" id="exampleModalLabel">Add Record</h5>
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- -----------------------------------Read Comment Modal --------------------------------------------->
        <div class="modal fade" id="readCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:4% 0% 0% 17%;">
            <div class="modal-dialog modal-lg" style="width:70%; height:500px; margin:2%;" role="document">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:40px;">&times;</span>
                </button>
                <div class="modal-content" style="padding:20px;">
                    <div class="modal-body">
                        <!-- <h5 class="modal-title" id="exampleModalLabel">Recor</h5> -->
                        <textarea id="readCommentText" class="form-control" rows="10" cols="93" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------Edit Comment Modal -------------------------------------------------------->
        <div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:4% 0% 0% 17%;">
            <div class="modal-dialog modal-lg" style="width:70%; height:500px; margin:2%;" role="document">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:40px;">&times;</span>
                </button>
                <div class="modal-content" style="padding:20px;">
                    <form id="editCommentForm" method="post">
                        {% csrf_token %}
                        <!-- <h5 class="modal-title" id="exampleModalLabel">Edit Record</h5> -->
                        <div class="modal-body">
                            <textarea id="editCommentText" name="text" class="form-control" rows="10" cols="93"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float:right">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>

        <!--------------------------------- JavaScript for actions --------------------------------------- -->
        <script>
            function showComment(commentId, action) {
                let url = (action === 'read') ? "{% url 'read_comment' 0 %}".replace('0', commentId) : "{% url 'edit_comment' 0 %}".replace('0', commentId);
                $.get(url, function(data) {
                    if (action === 'read') {
                        $('#readCommentText').val(data.text);
                        $('#readCommentModal').modal('show');
                    } else {
                        $('#editCommentText').val(data.text);
                        $('#editCommentForm').attr('action', url);
                        $('#editCommentModal').modal('show');
                    }
                });
            }

            function deleteComment(commentId) {
                if (confirm("Are you sure you want to delete this comment?")) {
                    let url = "{% url 'delete_comment' 0 %}".replace('0', commentId);
                    $.post(url, {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data) {
                        if (data.deleted) {
                            window.location.reload();
                        }
                    });
                }
            }

            function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}

            // function myFunction() {
            //     var input, filter, table, tr, td, i, txtValue;
            //     input = document.getElementById("myInput");
            //     filter = input.value.toUpperCase();
            //     table = document.getElementById("myTable");
            //     tr = table.getElementsByTagName("tr");
            //     for (i = 0; i < tr.length; i++) {
            //         td = tr[i].getElementsByTagName("td")[0];
            //         if (td) {
            //             txtValue = td.textContent || td.innerText;
            //             if (txtValue.toUpperCase().indexOf(filter) > -1) {
            //                 tr[i].style.display = "";
            //             } else {
            //                  tr[i].style.display = "none";
            //                       }
            //                  }       
            //                 }
            //     }
        </script>
    </div>
</body>
</html>

